<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        appAppAnimation
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd"
      >
        Only show odd numbers
      </button>
      <br /><br />

      <ul class="list-group">
        <!-- <div *ngIf="onlyOdd">
          <li class="list-group-item"
            *ngFor="let number of oddNumbers">
            {{ number }}
          </li>
        </div> -->

        <div *unless="!onlyOdd">
          <li class="list-group-item" *ngFor="let number of oddNumbers">
            {{ number }}
          </li>
        </div>

        <!-- <div *ngIf="!onlyOdd">
          <li class="list-group-item"
            *ngFor="let number of evenNumbers">
            {{ number }}
          </li>
        </div> -->

        <ng-template [ngIf]="!onlyOdd">
          <li class="list-group-item" *ngFor="let number of evenNumbers">
            {{ number }}
          </li>
        </ng-template>
      </ul>
      <div appBasicHighlight>
        This div is styled with our basic-highlight directive
      </div>
      <div appBetterHighlight>
        This div is styled with our better-highlight directive
      </div>
      <div [ngSwitch]="value">
        <div *ngSwitchCase="5">5</div>
        <div *ngSwitchCase="10">10</div>
        <div *ngSwitchCase="15">15</div>
        <div *ngSwitchDefault>20</div>
      </div>
    </div>

    <button appBasicHighlight>basic</button>
    <button appBetterHighlight>better</button>
    <button appAppAnimation>animation</button>

    <div class="canvas">
      <div appAppAnimation class="sq"></div>
      <div class="sq" appAppAnimation></div>
      <div class="sq" appAppAnimation></div>
      <div class="sq"></div>
    </div>
  </div>
  <div class="canvas2">
    <div
      *ngFor="let i of [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]"
      class="circle"
      appParticles
    ></div>
  </div>
</div>
